body {

    background-color: lightblue;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.main-container { 
width: 98%;
display: flex; 
justify-content: flex-start;
flex-wrap: wrap;
}
.card { 
    background-color:  red;
    width: 208px;
    height: 259px;
    margin: 30px;
    
}
.flipped{ background-color: green;


}
  